<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-back-button defaultUrl="/list-transactions"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cadastro de Transações
    </ion-title>
  </ion-toolbar>
  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button color="medium" [disabled]="!transactionDTOForm.valid" (click)="saveOrUpdate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>


<ion-content padding>
  <form [formGroup]="transactionDTOForm">
    <ion-input disabled style="display:none;"></ion-input>
    <div formGroupName="transaction">
      <ion-item lines="none">
        <ion-input placeholder="Categoria" formControlName="category"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <input-currency placeHolder="Valor" formControlName="value"></input-currency>
      </ion-item>
      <ion-select placeholder="Tipo de Transação" formControlName="typeTransaction">
        <ion-select-option value="RECIPE">Receita</ion-select-option>
        <ion-select-option value="EXPENSE">Despesa</ion-select-option>
      </ion-select>
      <ion-datetime (click)="selectDate()" [disabled]="true" placeholder="Data" display-format="DD/MM/YYYY" formControlName="date"></ion-datetime>
    </div>
  </form>
</ion-content>