<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Transações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="inicializarLista($event);">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item style="width: 100%;">
    <ion-card color="lightblue" style="width: 100%;height:100px;" no-padding>
      <ion-card-content no-padding>
        <ion-item class="heightThirty">
          <ion-label text-start>Receitas: </ion-label>
          <ion-label text-end>20,00</ion-label>
        </ion-item>
        <ion-item class="heightThirty">
          <ion-label text-start>Despesas: </ion-label>
          <ion-label text-end class="expense">10,00</ion-label>
        </ion-item>
        <ion-item class="heightThirty">
          <ion-label text-start>Total: </ion-label>
          <ion-label text-end>10,00</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-list>
    <ion-item-sliding class="withHundred" *ngFor="let transactionDTO of transactionsDTO" [routerDirection]="'root'">
      <ion-item class="itemCard">
        <ion-card class="withHundred" no-padding color="light">
          <ion-card-content>
            <ion-item>
              <ion-label text-start>{{transactionDTO.transaction.category}}</ion-label>
              <ion-label item-right text-right>{{transactionDTO.transaction.date | date: 'dd/MM/yyyy'}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon [name]="iconTransaction(transactionDTO.transaction)"></ion-icon>
              <ion-label [class.expense]="'Despesa' == transactionDTO.transaction.typeTransaction" item-right
                text-right><strong>{{transactionDTO.transaction.value | currency: 'BRL': true}}</strong></ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>