@mixin with100 {
    width: 100%; 
}

.withHundred {
    @include with100;
}

.itemCard {
    @include with100;
    padding: 0%;
}

.listNotes {
    position: relative;
    height: 89%;
    overflow: hidden;
    overflow-y: auto;  
}

