<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="inicializarLista($event);">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-searchbar debounce="500" placeholder="Título" (ionChange)="findByTitle($event);"></ion-searchbar>
  </ion-item>
  <div class="listNotes">
    <ion-list>
      <ion-item-sliding class="withHundred" *ngFor="let noteDTO of notesDTO"
        [routerLink]="['/register-note', noteDTO.id]" [routerDirection]="forward">
        <ion-item class="itemCard">
          <ion-card class="withHundred" no-padding color="light">
            <ion-card-header>
              <ion-card-title> {{noteDTO.note.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{noteDTO.note.description}}
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item-options side="end" (ionSwipe)="deleteNote(noteDTO.id)">
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="orange" [routerLink]="['/register-note']" [routerDirection]="forward">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>